* {
    text-decoration: none;
}

.menu_link {
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;
}

.apply_style_h1 {
    color: #222222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
}

.apply_style_p {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7d7987;
}

.apply_style_h2 {
    color: coral;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
}

.apply_style_h3 {
    color: green;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 80px;
}

.apply_style_h4 {
    color: grey;
    font-style: italic;
    font-weight: 700;
    font-size: 30px;
    line-height: 25px;
}

.apply_style_img {
    border-radius: 10px;
    width: 500px;
}

.apply_style_imput {
    width: 200px;
    height: 30px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 14px;
    line-height: 30px;
}

.apply_style_button {
    width: 100px;
    height: 30px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.apply_style_imput::placeholder {
    padding-left: 10%;
    color: green;
}

body {
    font-family: sans-serif;
}